@page
@model RazorApplication.Pages.IndexModel
@{
    ViewData["Title"] = "Cadastro de Usuários";
}
<h2>@ViewData["Title"]</h2>
<p>
    <a class="btn btn-primary" asp-page="/Usuarios/Criar">Criar novo Usuário</a>
</p>
<p>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Usuário</th>
                <th>Senha</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in Model.Usuarios)
            {
                <tr>
                    <td>
                        <a asp-page="/Usuarios/Detalhar" asp-route-id="@usuario.Id">@usuario.Id</a>
                    </td>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Senha</td>
                    <td>@usuario.Email</td>
                    <td>
                        <a class="btn btn-outline-info" asp-page="/Usuarios/Detalhar" asp-route-id="@usuario.Id">Detalhar</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-info" asp-page="/Usuarios/Editar" asp-route-id="@usuario.Id">Editar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</p>